<!doctype html>
{% load static from staticfiles %}
{% load crispy_forms_tags %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <link href="https://fonts.googleapis.com/css?family=Wendy+One" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <title>Water.IO</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image">
    <style>
        #header{
/*            background-image: url("C:\Users\Mahe\Desktop\header.jpg") center center / cover no-repeat;*/
            background-image: url("{% static 'images/header.jpg' %}");
            font-family: 'Wendy One', sans-serif;
/*            background: #a8e5ef;*/
        }
        hr.new{
            border: 1px solid black;
        }
        .fo{
            color:#007bff;
            font-size: 20px; 
        }
        .box {
          border: 1px solid;
          box-shadow: 5px 10px 18px #888888;
        }
        footer{
          background: black;
          color: white;
        }
    </style>
  </head>
  <body>
    <nav class="navbar bg-dark navbar-dark fo">
        <div class="container">
            <a href="{% url 'app:page_one' %}" class="navrbar-brand my-auto"><i class="fas fa-tint mr-2"></i>Water.IO</a>
            {% comment %} <img src="{% static 'images/favicon.ico' %}" alt="Water_Drop"> {% endcomment %}
            {% if user.is_authenticated %}
              <a href="{% url 'app:user_details' %}" class="nav-link ml-auto"><i class="fas fa-id-badge mr-2"></i>{{ user.username }}</a>
              <a href="{% url 'logout' %}" class="nav-link ml-2"><i class="fas fa-user-check mr-2"></i>Logout</a>
            {% else %}
              <a href="{% url 'app:user_login' %}" class="nav-link ml-auto"><i class="fas fa-user-tie mr-2"></i>Login</a>
              <a href="{% url 'app:register' %}" class="nav-link ml-2"><i class="fas fa-user-plus mr-2"></i>Register</a>
            {% endif %}
        </div>        
    </nav>
    <div id="header" class="jumbotron text-center">
        <h1 class="display-3">Current Weather</h1>
        <hr class="new" />
    </div>
    <div class="container text-center">
      <div class="column is-offset-4 is-4">
        <form method="POST">
          {% csrf_token %}
          <div class="field has-addons">
            <div class="control is-expanded">
              {{ form.name }}
            </div>
            <div class="control">
              <button type="submit" class="button is-info">Search</button>
            </div>
          </div>
        </form>
      </div>
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}><b>{{ message }}</b></li>
          {% endfor %}
        </ul>
      {% else %}
        {% for d in w %}
          <br>
          <div class="row">
            <div class="col-xl-7 col-lg-8 col-sm-10 col-11 mb-4 mx-auto">
              <div class="box">
                <article class="media">
                  <div class="media-left">
                    <figure class="image is-50x50 ml-2">
                      <img src="http://openweathermap.org/img/w/{{ d.icon }}.png" alt="Image">
                    </figure>
                    <p class="ml-3 mb-0"><b>{{ d.main }}</b></p>
                  </div>
                  <div class="media-content row">
                    <div class="content col-md-6 px-auto pl-sm-auto pl-0">
                      <p class="ml-4 title mb-0">{{ d.city }}</p>
                      <p class="ml-4 mt-1 mb-0"><b>{{ d.temp }}° C</b></p> 
                    </div>
                    <div class="content col-md-6 pl-md-0 pl-4 mb-0">
                      <p class="ml-0 mb-0"><b>Pressure: {{ d.pressure }} hPa</b></p>
                      <p class="ml-0 mb-0"><b>Humidity: {{ d.humidity }}%</b></p>
                      <p class="ml-0 mb-0"><b>Wind-Speed: {{ d.wind_speed }} m/s</b></p>
                    </div>
                  </div>
                  <div class='media-right'>
                    {% if d.city in b %}
                      <div class="pr-0">
                        <a href="{% url 'app:deletebookmark' d.city %}" data-toggle="tooltip" data-placement="top" title="Bookmark" style="background:none;border:none;"><img src="{% static 'images/starfilled.png' %}"></img></a>
                      </div>
                    {% else %}
                      <div class="pr-0">
                        {% if user.is_authenticated %}
                          <a href="{% url 'app:addbookmark' d.city %}" data-toggle="tooltip" data-placement="top" title="Bookmark" style="background:none;border:none;"><img src="{% static 'images/star.png' %}"></img></a>
                        {% else %}
                          <a data-html="true" data-toggle="tooltip" data-placement="top" title="You have login first!<br>Bookmark" style="background:none;border:none;"><img src="{% static 'images/star.png' %}"></img></a>
                        {% endif %}
                      </div>
                    {% endif %}
                  </div>
                </article>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>

    <!-- Footer -->
      <p class="py-3"></p>
      <footer class="page-footer font-small pt-2">
          <div class="container text-center text-md-left">
            <div class="row">
              <div class="col-md-3 col-lg-3 mr-auto mt-md-4 my-0 mt-4 mb-0 pl-md-0 pl-lg-auto">
                <h5 class="font-weight-bold text-uppercase mb-4">About</h5>
                <p class="mb-1 mb-md-auto"><b>Released on:</b> 30/04/2019</p>
                <p class="mb-1 mb-md-auto"><b>Tools used:</b> Python, Django, ML, HTML, CSS, Javascript, AJAX</p>
              </div>
              <div class="col-md-2 col-lg-2 mx-auto mt-md-4 my-0 mt-4 mb-0 pl-md-0 pl-lg-auto">
                <h5 class="font-weight-bold text-uppercase mb-4">Developer</h5>
                <ul class="list-unstyled">
                  <li><p class="mb-1 mb-md-auto">Rohit P. Jain</p></li>
                  <li><p class="mb-1 mb-md-auto">SE-IT</p></li>
                </ul>
              </div>
              <div class="col-md-3 col-lg-2 mx-auto mt-md-4 my-0 mt-4 mb-0 pl-md-4 pl-lg-auto">
                <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>
                <ul class="list-unstyled">
                  <li><p class="mb-1 mb-md-auto"><i class="fas fa-home mr-2"></i>DJSCOE, Mumbai</p></li>
                </ul>
              </div>
              <div class="col-md-4 col-lg-3 text mx-auto mt-4 mb-0 pl-md-0 pl-lg-auto">
                <h5 class="font-weight-bold text-uppercase mb-4">Contact Us</h5>
                <p class="mb-1 mb-md-auto"><i class="fab fa-google-plus-g mr-2"></i>rohitrocks2801@gmail.com</p>
                <p class="mb-1 mb-md-auto"><i class="fas fa-phone mr-3"></i>8850237301</p>
              </div>
            </div>
          </div>
          <hr class="m-0 mt-2 d-md-none" style="background:white;">
          <div class="footer-copyright text-center py-2">© 2019 Copyright</div>
        </footer>
      </div>
    <script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
  </body>
</html>
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>